@font-face {
  font-family: "Proxima Nova Lt";
  src: url("ProximaNova-Light.woff2") format("woff2"),
    url("ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "Proxima Nova Lt", Helvetica, sans-serif;
  height: 100%;
}

.header {
  background-color: rgb(66, 62, 62);
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  width: 100%;
  height: 65px;
}

.logo img {
  width: 80px;
  height: 65px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  font-family: "Proxima Nova Lt";
  justify-items: center;
  width: 100%;
  height: 65px;
}

.intro {
  background-image: url(img/watercolor-1636802_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

h1 {
  margin-top: 0;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 4rem;
  color: white;
  font-family: "Amatic SC";
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main > p {
  text-align: center;
  font-size: 2rem;
  color: rgb(62, 61, 61);
}

.main__circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main__circles1,
.main__circles2,
.main__circles3,
.main__circles4 {
  background-color: blue;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.main__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(188, 185, 185);
  height: 250px;
  justify-items: ;
}

.main__info1,
.main__info2,
.main__info3,
.main__info4 {
  width: 200px;
  height: 150px;
  text-align: center;
}
